<html ng-app="meanseed">
    <head>
        <meta charset="utf-8">
        <title>Mean Seed</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="css/toastr.min.css"/>
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body>
        <div class="page-header">
            <h1 class="text-center">mean</h1>
        </div>
        <div ng-controller="RootCtrl">
            <div> Hello {{email}}! <br/><br/></div>
            <div ng-switch on="isLoggedIn">
                <ul class="menu" ng-switch-when="false">
                    <li><a href="#/login">Login / Register</a></li>
                    <li><a href="#/unsecured">Unsecured Content</a></li>
                </ul>
                <ul class="menu" ng-switch-when="true">                    
                    <li><a href="#/secure">Secure Content</a></li>
                </ul>            
            </div>
            <div class="container-fluid" ng-view ng-animate="{enter: 'view-enter'}"></div>
        </div>
        
        
        <!-- build:remove:dev -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
        <script src="js/ngmodules.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- /build -->

        <!-- build:remove:dist -->
        <script src="js/angular.js"></script>
        <script src="js/ngmodules.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/components.js"></script>
        <script src="js/services.js"></script>
        <!-- /build -->
    </body>
</html>